{% extends "base_bootstrap.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h2>Dodaj autora</h2>
  <p>
  <form action="" method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Submit">
    <input type="submit" value="Cancel" onclick="window.location.href='{% url 'items:authors' %}';return false;">
  </form>
{% endblock %}:
