{% extends "base_bootstrap.html" %}
{% block content %}
  <h2>{{ author }}</h2>

  <ol>
  {% for item in items %}
  <li>
    <a href="{% url 'items:item' item.id %}">{{ item }}</a>
  </li>
  {% empty %}
  <li>brak utworów</li>
  {% endfor %}
  </ol>
  
  <p>
  <a href="{% url 'items:delete_author' author.id %}">Usuń Autora</a>
  </p>
  <p>
  <a href="{% url 'items:authors' %}">Autorzy</a>
  </p>
{% endblock %}

