{% extends "base_bootstrap.html" %}
{% block content %}
  <h2>Autorzy</h2>
  <ol>
  {% for author in authors_list %}
  <li>
    <h4><a href="{% url 'items:author' author.id %}">{{ author }}</a></h4> -  
    <a href="{% url 'items:delete_author' author.id %}">Usuń</a> | 
    <a href="{% url 'items:update_author' author.id %}">Aktualizuj</a>
  </li>
  {% empty %}
  <h4>brak autorów</h4>
  {% endfor %}
  </ol>
  <h5><a href="{% url 'items:add_author' %}">Dodaj autora</a></h5>
{% endblock %}
