{% extends "base_bootstrap.html" %}
{% block content %}
  <h3>{{ item }}</h3>
  <ul>
      {% for fragment in fragments %}
      <li>
        {{ fragment }}
      </li>
      {% empty %}
      <p>no fragments, sir</p>
      {% endfor %}
  </ul>
  <p>
  {% if authors %}
    Autor{{ authors|pluralize:"zy" }}: 
    {% for author in authors %}
        <a href="{% url 'items:author' author.id %}">{{ author }}</a>  
    {% endfor %}
    | 
  {% endif %}
  <a href="{% url 'items:all' %}"> - Lista utworów</a>
  </p>
{% endblock %}
