{% extends "base_bootstrap.html" %}
{% block content %}
  <div class="float-right"><h2>Utwory</h2><h3><a href="{% url 'items:add_item' %}">Dodaj utwór</a></h3>
    </div>
  <ol>
  {% for item in items %}
  <li>
    <h4><a href="{% url 'items:item' item.id %}">{{ item }}</a></h4>
    <a href="{% url 'items:delete_item' item.id %}">Usuń</a> | 
    <a href="{% url 'items:update_item' item.id %}">Aktualizuj</a>
  </li>
  {% empty %}
  <li>Brak utworów</li>
  {% endfor %}
  </ol>
{% endblock %}
